$primary: #30363e;
$secondary: #25292f;
$info: #05b6d4;

.body {
  gap: 50px;
  background-color: $primary;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square {
  height: 180px;
  width: 300px;
  background-color: $secondary;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px;
}

.add {
  background-color: $info;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
